<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>


	<array>
   	 <dict>
      	  <key>CFBundleTypeExtensions</key>
      	  <array>
       	     <string>pdf</string>
       	 </array>
        	<key>CFBundleTypeIconFile</key>
        	<string>app.icns</string>
        	<key>CFBundleTypeName</key>
       	 <string>public.pdf</string>
       	 <key>CFBundleTypeRole</key>
       	 <string>Editor</string>
       	 <key>LSHandlerRank</key>
        	<string>Alternate</string>
        	<key>LSItemContentTypes</key>
        	<array>
        	    <string>public.pdf</string>
        	</array>
    	</dict>
	
	<dict>
      	  <key>CFBundleTypeExtensions</key>
      	  <array>
       	     <string>PDF</string>
       	 </array>
        	<key>CFBundleTypeIconFile</key>
        	<string>app.icns</string>
        	<key>CFBundleTypeName</key>
       	 <string>public.PDF</string>
       	 <key>CFBundleTypeRole</key>
       	 <string>Editor</string>
       	 <key>LSHandlerRank</key>
        	<string>Alternate</string>
        	<key>LSItemContentTypes</key>
        	<array>
        	    <string>public.PDF</string>
        	</array>
    	</dict>

    	<dict>
    	    <key>CFBundleTypeExtensions</key>
    	    <array>
    	        <string>png</string>
     	   </array>
     	   <key>CFBundleTypeIconFile</key>
     	   <string>app.icns</string>
        	<key>CFBundleTypeName</key>
     	   <string>public.png</string>
        	<key>CFBundleTypeRole</key>
        	<string>Editor</string>
        	<key>LSHandlerRank</key>
       	 <string>Alternate</string>
       	 <key>LSItemContentTypes</key>
       	 <array>
        	    <string>public.png</string>
        	</array>
   	 </dict>
	</array>


<key>UTImportedTypeDeclarations</key>
<array>
    <dict>
        <key>UTTypeConformsTo</key>
        <array>
            <string>public.data</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.pdf</string>
        <key>UTTypeTagSpecification</key>
        <dict>
            <key>com.apple.ostype</key>
            <string>PDF</string>
            <key>public.filename-extension</key>
            <array>
                <string>pdf</string>
            </array>
            <key>public.mime-type</key>
            <string>application/pdf</string>
        </dict>
   	 </dict>
   	 <dict>
       	 <key>UTTypeConformsTo</key>
       	 <array>
        	    <string>public.image</string>
       	 </array>
       	 <key>UTTypeIdentifier</key>
       	 <string>public.png</string>
        	<key>UTTypeTagSpecification</key>
       	 <dict>
           	 <key>com.apple.ostype</key>
           	 <string>PNG</string>
           	 <key>public.filename-extension</key>
           	 <array>
           	     <string>png</string>
           	 </array>
           	 <key>public.mime-type</key>
          	  <string>image/png</string>
       	 </dict>
   	 </dict>
	</array>

	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>MathPic copy.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
